.button {
  background-color: #666;
  border-radius: 100%;
  bottom: calc(2.5%);
  color: #fff;
  left: calc(8%);
  padding: calc(2%);
  position: fixed;
  width: calc(11%);
  z-index: 5; }
  .button img {
    float: left; }
  .button.description {
    bottom: calc(50%);
    left: calc(44%);
    transition: bottom 1s, left 1s, height 1s, width 1s; }
  .button.help {
    left: calc(77%); }
  .button#active {
    background: #333; }

.hidden.button.description {
  width: 25px;
  height: 25px;
  bottom: 93%;
  left: 81%;
  transition: bottom 1s, left .25s, height 1s, width 1s; }
.hidden.top .title {
  font-size: 2em; }
.hidden.top .directions {
  opacity: 0; }

/**
 * Fix #hidden-link height on short devices by adjusting padding
 */
@media screen and (max-device-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
  a#hidden-link {
    padding: 2% 2% 0%; } }
/**
 * Fixes button placement on iPhone 4
 */
@media screen and (max-device-width: 320px) and (max-device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  div.hidden.button.description {
    bottom: 92%; } }
/**
 * Fixes initial description dimensions and text attributes on skinny screens
 */
@media screen and (max-device-width: 360px) and (-webkit-min-device-pixel-ratio: 2) {
  div.top .title {
    font-size: 3em; }

  div.hidden.top {
    padding: 12px 15px 3px; }
    div.hidden.top .title {
      font-size: 1.7em;
      margin: 0px; } }
/**
 * Fix for title margin for iPHone 6+ and similar width devices
 */
@media screen and (max-device-width: 415px) and (-webkit-min-device-pixel-ratio: 3) {
  div.hidden.top .title {
    margin: 9px 0px; }
  div.hidden.button.description {
    bottom: 93.25%; } }
/**
 * iPad sized or similar tablet. Makes text and padding on elements greater
 */
@media screen and (min-device-width: 760px) and (-webkit-min-device-pixel-ratio: 2) {
  a#hidden-link {
    padding: 3% 2% 6%; }

  div.top p.directions {
    font-size: 2.5em;
    line-height: 1.5em;
    margin: 25px 0px; }

  div.hidden.top .title {
    font-size: 4em;
    margin: 5px 0px; }
  div.hidden.button.description {
    bottom: 93.75%;
    left: 85%; }

  p.industry-text {
    padding: 10px 0px; } }
html,
body {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%;
  overflow-y: hidden;
  width: 100%; }

body {
  font: 10px sans-serif;
  background: #e5e5e5; }

.top {
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 4px solid #333;
  left: 0;
  padding: 10px 15px;
  position: absolute;
  right: 0;
  top: 0;
  transition: height 1s;
  z-index: 1; }
  .top .directions {
    color: #333;
    font-size: 2em;
    line-height: 1.25;
    margin: 0;
    pointer-events: none;
    transition: opacity .75s; }
  .top .title {
    font-size: 4em;
    margin: 5px 0px;
    transition: font-size .25s; }

.industry-text {
  color: #fff;
  font-size: 3em;
  height: 34px;
  padding: 5px 0px;
  margin: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: -1; }

#industry-label {
  position: absolute;
  font-size: 2em;
  margin: 0;
  text-align: center;
  width: 100%; }

.text-middle {
  color: #333;
  position: absolute;
  pointer-events: none; }
  .text-middle .percent-number {
    font-size: 5em;
    margin: 0;
    text-align: center; }
  .text-middle .percent-text {
    font-size: 1.5em;
    margin: 0;
    text-align: center; }

#hidden-link {
  border-radius: 7%;
  bottom: -28%;
  color: #fff;
  font-size: 1.8em;
  max-width: 150px;
  padding: 3% 2%;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  width: 40%; }

/*# sourceMappingURL=main.css.map */
