.button {
  background-color: #666;
  border-radius: 100%;
  bottom: calc(2.5%);
  color: #fff;
  left: calc(8%);
  padding: calc(2%);
  position: fixed;
  width: calc(11%);
  z-index: 5; }
  .button img {
    float: left; }
  .button.description {
    bottom: calc(50%);
    left: calc(44%);
    transition: bottom 1s, left 1s, height 1s, width 1s; }
  .button.help {
    left: calc(77%); }
  .button#active {
    background: #333; }

.hidden.button.description {
  bottom: 93%;
  height: 25px;
  left: 81%;
  transition: bottom 1s, left .25s, height 1s, width 1s;
  width: 25px; }
.hidden.top .title {
  font-family: "Avenir-Roman", sans-serif;
  font-size: 1.3em; }
.hidden.top .directions {
  opacity: 0; }

/**
 * Fix #hidden-link height on short devices by adjusting padding
 */
@media screen and (max-device-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
  a#hidden-link {
    padding: 2% 2% 0%; } }
/**
 * Fixes button placement on iPhone 4
 */
@media screen and (max-device-width: 320px) and (max-device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  div.hidden.button.description {
    bottom: 92%; } }
/**
 * Fixes initial description dimensions and text attributes on skinny screens
 */
@media screen and (max-device-width: 360px) and (-webkit-min-device-pixel-ratio: 2) {
  div.top .title {
    font-size: 3em; }

  div.hidden.top {
    padding: 12px 15px 3px; }
    div.hidden.top .title {
      font-size: 1.7em;
      margin: 0px; } }
/**
 * Fix for title margin for iPHone 6+ and similar width devices
 */
@media screen and (max-device-width: 415px) and (-webkit-min-device-pixel-ratio: 3) {
  div.hidden.top .title {
    margin: 9px 0px; }
  div.hidden.button.description {
    bottom: 93.25%; } }
/**
 * iPad sized or similar tablet. Makes text and padding on elements greater
 */
@media screen and (min-device-width: 760px) and (-webkit-min-device-pixel-ratio: 2) {
  a#hidden-link {
    padding: 3% 2% 6%; }

  div.top p.directions {
    font-size: 2.5em;
    line-height: 1.5em;
    margin: 25px 0px; }

  div.hidden.top .title {
    font-size: 4em;
    margin: 5px 0px; }
  div.hidden.button.description {
    bottom: 93.75%;
    left: 85%; }

  p.industry-text {
    padding: 10px 0px; } }
html,
body {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "Avenir-Roman";
  src: url("../fonts/AvenirLTStd-Roman.otf"); }
@font-face {
  font-family: "Avenir-Black";
  src: url("../fonts/AvenirLTStd-Black.otf"); }
html,
body {
  height: 100%;
  overflow-y: hidden;
  width: 100%; }

body {
  background: #e5e5e5;
  font-family: "Avenir-Roman", sans-serif; }

.top {
  background: rgba(255, 255, 255, 0.9);
  left: 0;
  padding: 10px 15px;
  position: absolute;
  right: 0;
  top: 0;
  transition: height 1s;
  z-index: 1; }
  .top .directions {
    color: #333;
    text-indent: 1em;
    font-size: 1.4em;
    line-height: 1.25;
    padding: 8px;
    margin: 0;
    text-align: justify;
    pointer-events: none;
    transition: opacity .65s; }
  .top .title {
    font-family: "Avenir-Black", sans-serif;
    font-size: 2em;
    margin: 5px 0px;
    transition: font-size .25s; }

.industry-text {
  color: #fff;
  font-size: 1.75em;
  height: 34px;
  padding: 5px 0px;
  margin: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: -1; }

.label {
  color: white;
  font-size: 1.1em;
  margin: 0;
  opacity: 0;
  padding: 5px 0px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: -2; }

#label-back {
  background-color: rgba(102, 102, 102, 0.75);
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: -3; }

.text-middle {
  color: #333;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity .75s; }
  .text-middle .percent-number {
    font-size: 3.5em;
    margin: -6px;
    text-align: center; }
  .text-middle .percent-text {
    font-size: 1.1em;
    margin: 0;
    text-align: center; }

#hidden-link {
  background-color: #666;
  border-radius: 35px;
  bottom: 3%;
  color: #fff;
  font-size: 1.35em;
  height: 37px;
  left: 30%;
  opacity: 0;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  transition: opacity .5s, background .5s;
  width: 40%;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  z-index: 100; }

/*# sourceMappingURL=main.css.map */
